.max-flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.max-flex-center-h {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
.max {
  min-height: 100vh;
  min-width: 100vw;
}

.center {
  margin: 0 auto;
}

.divider {
  width: 25px;
  height: auto;
  display: inline-block;
}

.main-header {
  font-family: 'Ruslan Display', cursive;
  font-size: 64px;
}

.center-items {
  text-align: center;
}

.popout {
  font-weight: bold;
  border-bottom: 1px dotted blue;
}
.container-player-cards {
  display: flex;
  align-items: center;
  justify-content: center
}
.player-card {
  text-align: center;
  padding:5px;
  margin: 5px;
}

.player-card>img {
  max-height: 150px;
  width: auto;
}

.client-landing {
  text-align: center;
}

.client-landing>input {
  margin-bottom: 10px;
}
.client-landing>button {
  margin-top:10px;
}